<a href="https://colab.research.google.com/github/SuryARavichan/scikit-learn/blob/main/Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('house prediction.csv')

In [4]:
df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [17]:
x = df.drop('price',axis=1)

In [18]:
y = df['price']

In [19]:
from sklearn.preprocessing import PolynomialFeatures

In [20]:
polynomial_converter = PolynomialFeatures(degree=2,include_bias=False)

In [22]:
x

                  area_type   availability  ... bath balcony
0      Super built-up  Area         19-Dec  ...  2.0     1.0
1                Plot  Area  Ready To Move  ...  5.0     3.0
2            Built-up  Area  Ready To Move  ...  2.0     3.0
3      Super built-up  Area  Ready To Move  ...  3.0     1.0
4      Super built-up  Area  Ready To Move  ...  2.0     1.0
...                     ...            ...  ...  ...     ...
13315        Built-up  Area  Ready To Move  ...  4.0     0.0
13316  Super built-up  Area  Ready To Move  ...  5.0     NaN
13317        Built-up  Area  Ready To Move  ...  2.0     1.0
13318  Super built-up  Area         18-Jun  ...  4.0     1.0
13319  Super built-up  Area  Ready To Move  ...  1.0     1.0

[13320 rows x 8 columns]

In [23]:
y

0         39.07
1        120.00
2         62.00
3         95.00
4         51.00
          ...
13315    231.00
13316    400.00
13317     60.00
13318    488.00
13319     17.00
Name: price, Length: 13320, dtype: float64

In [24]:
x.shape

(13320, 8)

In [25]:
x.iloc[0]

area_type           Super built-up  Area
availability                      19-Dec
location        Electronic City Phase II
size                               2 BHK
society                          Coomee
total_sqft                          1056
bath                                   2
balcony                                1
Name: 0, dtype: object

In [27]:
x.iloc[3]

area_type       Super built-up  Area
availability           Ready To Move
location          Lingadheeranahalli
size                           3 BHK
society                      Soiewre
total_sqft                      1521
bath                               3
balcony                            1
Name: 3, dtype: object

In [28]:
230.1*37.8

8697.779999999999

In [30]:
37.8*69.2

2615.7599999999998

In [31]:
230.1**2

52946.009999999995

In [34]:
from sklearn.model_selection import train_test_split